<!--<main>
    <article>
 
  
      <section class="section personal has-bg-image" aria-labelledby="personal-label"
        style="background-image: url('./assets/images/contact-bg.png')">
        <div class="container">
  
          <form (ngSubmit)="savePersonal()" class="personal-form">
  
            <h2 class="headline-sm" id="personal-label">Ingrese sus Datos Personales</h2>
  
            <p class="personal-text body-md">
              Complete los campos a continuación para proporcionar sus datos personales.
            </p>
          
            <div class="wrapper">
  
              <div>
                <label for="firstName" class="label">Nombre</label>
                <input type="text" name="firstName" id="firstName" placeholder="Nombre *" required class="input-field">
              </div>
  
              <div>
                <label for="lastName" class="label">Apellido</label>
                <input type="text" name="lastName" id="lastName" placeholder="Apellido *" required class="input-field">
              </div>
  
              <div>
                <label for="email" class="label">Correo Electrónico</label>
                <input type="email" name="email" id="email" placeholder="Email *" required class="input-field">
              </div>
  
              <div>
                <label for="dateOfBirth" class="label">Fecha de Nacimiento</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" required class="input-field">
              </div>
  
              <div>
                <label for="address" class="label">Dirección</label>
                <input type="text" name="address" id="address" placeholder="Dirección *" required class="input-field">
              </div>
  
              <div>
                <label for="city" class="label">Ciudad</label>
                <input type="text" name="city" id="city" placeholder="Ciudad *" required class="input-field">
              </div>
  
              <div>
                <label for="state" class="label">Estado</label>
                <input type="text" name="state" id="state" placeholder="Estado *" required class="input-field">
              </div>
  
              <div>
                <label for="country" class="label">País</label>
                <input type="text" name="country" id="country" placeholder="País *" required class="input-field">
              </div>
  
              <div>
                <label for="phoneNumber" class="label">Número de Teléfono</label>
                <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="Número de Teléfono" class="input-field">
              </div>
  
          
  
            </div>
  
            <button type="submit" class="btn btn-tertiary">Guardar Datos Personales</button>
  
          </form>
  
        </div>
      </section>
  
    </article>
  </main>
-->

<main>
  <article>
    <!-- #PERSONAL -->
    <section class="section personal has-bg-image" aria-labelledby="personal-label"
      style="background-image: url('./assets/images/contact-bg.png')">
      <div class="container">

        <form (ngSubmit)="savePersonal()" class="personal-form" [formGroup]="personaForm">

          <h2 class="headline-sm" id="personal-label">Ingrese sus Datos Personales</h2>

          <p class="personal-text body-md">
            Complete los campos a continuación para proporcionar sus datos personales.
          </p>

          <div class="wrapper">

            <div>
              <label for="firstName" class="label">Nombre</label>
              <input type="text" formControlName="firstName" placeholder="Nombre *" required class="input-field">
            </div>

            <div>
              <label for="lastName" class="label">Apellido</label>
              <input type="text" formControlName="lastName" placeholder="Apellido *" required class="input-field">
            </div>

            <div>
              <label for="email" class="label">Correo Electrónico</label>
              <input type="email" formControlName="email" placeholder="Email *" required class="input-field">
            </div>

            <div>
              <label for="dateOfBirth" class="label">Fecha de Nacimiento</label>
              <input type="date" formControlName="dateOfBirth" required class="input-field">
            </div>

            <div>
              <label for="address" class="label">Dirección</label>
              <input type="text" formControlName="address" placeholder="Dirección *" required class="input-field">
            </div>

            <div>
              <label for="city" class="label">Ciudad</label>
              <input type="text" formControlName="city" placeholder="Ciudad *" required class="input-field">
            </div>

            <div>
              <label for="state" class="label">Estado</label>
              <input type="text" formControlName="state" placeholder="Estado *" required class="input-field">
            </div>

            <div>
              <label for="country" class="label">País</label>
              <input type="text" formControlName="country" placeholder="País *" required class="input-field">
            </div>

            <div>
              <label for="phoneNumber" class="label">Número de Teléfono</label>
              <input type="tel" formControlName="phoneNumber" placeholder="Número de Teléfono" class="input-field">
            </div>

            <div>
              <label for="password" class="label">Contraseña</label>
              <input type="password" formControlName="password" placeholder="Contraseña" class="input-field">
            </div>

            <!-- You can add more fields as needed -->

          </div>

          <button type="submit" class="btn btn-tertiary">Guardar Datos Personales</button>

        </form>

      </div>
    </section>

  </article>
</main>