<main>
    <article>

      <!-- 
        - #SERVICE
      -->

      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="service-label">Nuestros Servicios</h2>

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Busquedas Personalizadas</h3>

                  <p class="body-sm">
                    Una página donde te permitirá escoger una variedad de categorias de viajes de acuerdo a tus hobbies.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Desde tu Ordenador</h3>

                  <p class="body-sm">
                    Podrás visualizar en tiempo completo los posteos de distintos usuarios que buscan unirse a un grupo de viajeros con las mismos objetivos.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Gran cantidad de personas</h3>

                  <p class="body-sm">
                    Nuestra página está destina para que una gran varidad de personas puedan conectarse y disfrutar de sus viajes con otros desconocidos.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Divertida</h3>

                  <p class="body-sm">
                    Al unirte a otros grupos de viajeros, esto te dará una gran sensación de aventura donde conocerás distintas culturas.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Sal de tu zona de confort</h3>

                  <p class="body-sm">
                   En caso busques algo nuevo, este es el lugar indicado para empezar a contactar con otras personas.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Conecta con el mundo</h3>

                  <p class="body-sm">
                    Nuestra meta es que tu puedas conectar con todo el munda viajando a distintos lugares del mundo brindandote una experiencia única e inolvidable.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>