<main>
    <article>

      <!-- 
        - #CONTACT
      -->

      <section class="section contact has-bg-image" aria-labelledby="contact-label"
        style="background-image: url('./assets/images/contact-bg.png')">
        <div class="container">

          <form action="" class="contact-form">

            <h2 class="headline-sm" id="contact-label">Únete a nuestros comunidad</h2>

            <p class="contact-text body-md">
                Nuestro amable equipo estaría encantado de saber de ti.
            </p>

            <div class="wrapper">

              <div>
                <label for="name" class="label">Nombre Completo</label>

                <input type="text" name="name" id="name" placeholder="Nombre *" required class="input-field">
              </div>

              <div>
                <label for="email" class="label">Correo Electrónico</label>

                <input type="email" name="email" id="email" placeholder="Email *" required class="input-field">
              </div>

            </div>

            <label for="subject" class="label">Asunto</label>
            <input type="text" name="subject" id="subject" placeholder="Asunto *" class="input-field">

            <label for="message" class="label">Comentarios </label>
            <textarea name="message" id="message" placeholder="Ingresa tu comentario *" required class="input-field"></textarea>

            <a href="#" class="btn btn-tertiary">Enviar mensaje</a>

          </form>

          <div class="contact-content">

            <ul class="contact-list">

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(177, 39%, 72%)">
                  <ion-icon name="call" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Teléfono</p>

                  <a href="tel:+051 987654321" class="body-lg">+051 987 654 321</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                  <ion-icon name="mail" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Correo</p>

                  <a href="tel:u201623536@upc.edu.pe" class="body-lg">u201623536@upc.edu.pe</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(19, 97%, 85%)">
                  <ion-icon name="location" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <p class="label-lg">Visita nuestro centro de estudio</p>

                  <address class="body-lg">
                    Universidad Peruana de Ciencias Aplicadas,
                    UPC
                  </address>
                </div>

              </li>

            </ul>

          </div>

        </div>
      </section>

    </article>
  </main>