<main>
    <article>

      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Nuestras Aventuras</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/paisaje-1.jpg" width="800" height="540" loading="lazy"
                    alt="Cards informativo - Blogs - En progreso de Design" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="Contenido del Blog">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Viajes</span>

                  <h3 class="title-md">Despejate con los lugares más remotos del planeta</h3>

                  <p class="card-text">
                   Ponte en modo aventurero y únete a este grupo de turistas que buscan tener grandes aventuras. Solo faltas tú, apresurate que ya estamos a punto de salir!
                  </p>

                  <a href="#" class="btn btn-primary">Ver planes</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/paisaje-2.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Familia</span>

                  <h3 class="title-md">Deja que tus niños se divertan con otros niños</h3>

                  <p class="card-text">
                    Disfruta de unas vacaciones con otras familias que buscan distraerse de su ajetreada vida de padres y deja que tus niños vuelvan locos a otros niños.
                  </p>

                  <a href="#" class="btn btn-primary">Ver Contenido</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/paisaje-3.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Solo</span>

                  <h3 class="title-md">Solamente tú!</h3>

                  <p class="card-text">
                    Buscas aventurarte en un viaje tu solo y que nadie te distraiga. Bueno, llegaste al lugar indicado. Reserva en las mejores aerolineas y viaje de manera tranquila y solitaria a las islas más hermosas de este mundo. A tu ritmo, te esperamos!
                  </p>

                  <a href="#" class="btn btn-primary">Ver planes</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/paisaje-4.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Parejas</span>

                  <h3 class="title-md">Noviembre contigo</h3>

                  <p class="card-text">
                    Buscas un lugar donde competir con otras parejas. Dejame decirte que llegaste al lugar indicado. Tenemos lugares turisticos donde vas a poner a prueba el ritmo de baila, competencia de fulbito, entre otras, y lo mejor que lo podrás hacer con otras parejas. Dale, aventurate a conocer una nueva experiencia de viaje.
                  </p>

                  <a href="#" class="btn btn-primary">Ver planes</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>