<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home">
    <!--    <div class="container">-->
      <div class="hero-card">
        <div class="hero-content">

          <p class="hero-subtitle">Un mundo por descubrir junto a nuestra comunidad</p>

          <h1 class="headline-lg">TrueTrip</h1>

          <p class="hero-text body-md">
              Más que un Viaje, es una manera de conectarnos con el mundo.
          </p>

          <a routerLink="/login" class="btn btn-primary">Inciar Sesión</a>

        </div>

      <!--  <figure class="hero-banner">
          <img src="--------" width="680" height="645"
            alt="Imagen de Prueba, se necesita un png adecuado que no tenga contenido" class="w-100">
        </figure> -->

      </div>
    </section>





    <!-- 
      - #CLIENT
    -->

    <section class="client" aria-label="Trusted client">
      <div class="container ">

        <ul class="slider">

          <li class="slider-item">
            <img src="assets/images/client-1.png" width="130" height="40" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/client-2.png" width="130" height="53" alt="clients" class="w-100">
          </li>

          <li class="slider-item">
            <img src="assets/images/client-3.png" width="157" height="40" alt="clients" class="w-100">
          </li>

        </ul>

      </div>
    </section>





    <!-- 
      - #ABOUT
    -->

    <section class="section about" aria-label="about me">
      <div class="container">

        <figure class="about-banner">
          <img src="assets/images/about-banner.png" width="685" height="530" loading="lazy"
            alt="Viajeros felices" class="w-100">
        </figure>

        <div class="about-content">

          <h2 class="title-lg">Nosotros te conectamos con el mundo</h2>

          <p class="body-md section-text">
              Para que puedas descubrir a tu compañero ideal de viaje, nosotros te proponemos utilizar la web TrueTrip. Esta es la red social de los viajeros.
              En esta red social, puedes describir tu personalidad viajera para encontrar a los acompañantes que más encajen contigo. 
          </p>

          <ul class="about-list">

            <li>
              <p class="list-text">
                <strong class="strong title-md">125+</strong> Viajes Completados
              </p>
            </li>

            <li>
              <p class="list-text">
                <strong class="strong title-md">190+</strong> Reacciones positivas
              </p>
            </li>

          </ul>

          <div class="wrapper">
            <a routerLink="/contact" class="btn btn-primary">Unete</a>

            <a routerLink="/portfolio" class="btn btn-secondary">Experiencias</a>
          </div>

        </div>

      </div>
    </section>





    <!-- 
      - #SKILL
    

    <section class="section skill" aria-labelledby="skill-label">
      <div class="container">

        <div class="skill-content">

          <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

          <ul class="skill-list">

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="logo-html5"></ion-icon>
                </div>

                <h2 class="card-title">HTML</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="logo-css3"></ion-icon>
                </div>

                <h2 class="card-title">CSS</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="logo-react"></ion-icon>
                </div>

                <h2 class="card-title">React JS</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="logo-angular"></ion-icon>
                </div>

                <h2 class="card-title">Angular</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="logo-apple"></ion-icon>
                </div>

                <h2 class="card-title">iOs App</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="logo-android"></ion-icon>
                </div>

                <h2 class="card-title">App Dev</h2>

              </div>
            </li>

          </ul>

        </div>

        <figure class="skill-banner">
          <img src="assets/images/skill-banner.png" width="581" height="657" loading="lazy"
            alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
        </figure>

      </div>
    </section>

-->



    <!-- 
      - #CTA
    -->

    <section class="cta">
      <div class="container">
        <h2 class="title-lg">Interesado de conectar con el mundo</h2>
        <a routerLink="/contact" class="btn btn-tertiary">Únete</a>
      </div>
    </section>





    <!-- 
      - #TESTIMONIALS
    -->

    <section class="section testi" aria-labelledby="testi-label">
      <div class="container">

        <h2 class="headline-md section-title text-center" id="testi-label">Testimonios</h2>

        <ul class="slider">

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/testi-1.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s.
                </blockquote>

                <p class="client-name">Jennifer Lutheran</p>

                <p class="client-title">Consejera de Google</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/testi-2.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s.
                </blockquote>

                <p class="client-name">Jennifer Lutheran</p>

                <p class="client-title">Profesora de la UPC</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/testi-3.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s.
                </blockquote>

                <p class="client-name">Jennifer Lutheran</p>

                <p class="client-title">Gobernadora Regional</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/testi-4.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s.
                </blockquote>

                <p class="client-name">Jassa Lutheran</p>

                <p class="client-title">CEO en Google</p>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>